ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;}
.header{/* Top line bg */
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}
.webstudio{width: 44px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    /* IRIS */
    
    color: #4D5AE5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
.studio{width: 48px;
    height: 24px;   
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em; 
    color: #2E2F42;    
    flex: none;
    order: 0;
    flex-grow: 0;}
.portfolio{
width: 66px;
height: 24px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;}
.contacts{/* Contacts */



    width: 67px;
    height: 24px;
    
    /* Body Bold */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: #2E2F42;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;}
.mail{/* info@devstudio.com */


    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
    
    /* Body */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
    /* SLATE */
    
    color: #434455;}
.mail:hover{
    color: orange;
}
.mail:focus{
    color: red;
}
.tel{
    /* +11 (000) 111-11-11 */


position: absolute;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;}
.tel:hover{
    color: orange;
}
.tel:focus{
    color: red;
}
h1{
    position: absolute;
    width: 492px;
    height: 120px;
    left: 474px;
    top: 264px;
    
    /* Header 1 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    /* or 107% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;}    
    button{
    /* Order Service */


width: 106px;
height: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.title{width: 264px;
    height: 24px;
    
    /* Header 3 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: #2E2F42;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
.text{width: 264px;
    height: 72px;
    
    /* Body */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.02em;
    
    /* SLATE */
    
    color: #434455;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;}
.head2{/* What are we doing */


    position: absolute;
    width: 322px;
    height: 40px;
    left: 559px;
    top: 1019px;
    
    /* Header 2 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    color: #2E2F42;}
.image1{/* Rectangle 71 */


    box-sizing: border-box;
    
    width: 360px;
    height: 300px;
    
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368);
    background-blend-mode: soft-light, normal;
    /* CORNFLOWER */
    
    border: 1px solid #E7E9FC;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
.image2{/* Rectangle 71 */

    box-sizing: border-box;
    
    width: 360px;
    height: 300px;
    
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2225);
    background-blend-mode: soft-light, normal;
    /* CORNFLOWER */
    
    border: 1px solid #E7E9FC;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
.image3{/* Rectangle 71 */


    box-sizing: border-box;
    
    width: 360px;
    height: 300px;
    
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(photo-1545235617-7a424c1a60cc);
    background-blend-mode: soft-light, normal;
    /* CORNFLOWER */
    
    border: 1px solid #E7E9FC;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
.head22{/* Our Team */


    position: absolute;
    width: 162px;
    height: 40px;
    left: 639px;
    top: 1671px;
    
    /* Header 2 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    color: #2E2F42;}
.worker{/* Header 3 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: #2E2F42;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
.position{/* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    /* SLATE */
    
    color: #434455;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;}
